<!DOCTYPE html>
<html>
  <head>
    <title>Sweet Talk</title>
    <script src="//code.jquery.com/jquery-2.1.3.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="/coffee/index.js"></script>
  </head>
  <body>
    <h1>Messages</h1>
    <div class="messages">
    </div>
    <form action="messages">
      <input type="text" name="name" value="Guest">
      <input type="text" name="text">
      <input type="submit" value="Send">
    </form>
  </body>
</html>
